*{
    margin: 0;
    padding: 0;
}
h1,h2,h5{
    font-family: 'Roboto Slab', serif;
}
.conteiner{
    width: 80%;
    margin: auto;
    padding: 40px 0px;
    padding-bottom: 10px;
}
h1.header-title {
    text-align: center;
    font-size: 38px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    color: #14b2fd;
}
img#title-logo {
    width: 25px;
}
.conteiners {
    display: flex;
    justify-content: space-between;
}
.calculate-img {
    background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    background-size: cover;
}
.calculate-monay {
    width: 500px;
    background-color: #e3e3e361;
}
form.calculate-from {
    padding: 45px;
    text-align: center;
}
h5.calculate-title {
    font-size: 20px;
    color: #000000e0;;
    font-weight: 700;
    padding: 10px 0px;
}
label.input-title {
    font-size: 15px;
    font-weight: 600;
    color: #4e4e4e;
    padding-right: 5px;
}
input.input-monay {
    padding: 12px;
    background-color: #7c797957;
    border: none;
    margin-bottom: 15px;
    border-radius: 3px;
}
input#save-monay {
    width: 90px;
    margin-right: 10px;
}
button.calculate-btn {
    font-size: 15px;
    background-color: #005fd4ba;
    font-weight: 600;
    color: #fbf7ef;
    padding: 10px 35px;
    border: none;
    border-radius: 3px;
}